body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-gmarket-sans: "Gmarket Sans";
  --font-roboto: Roboto;
  --font-noto-sans: "Noto Sans";
  --font-georgia: Georgia;
  --font-inter: Inter;
  --font-roboto-flex: "Roboto Flex";

  /* font sizes */
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-lgi: 19px;
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #888;
  --color-gray-200: #7c7c7c;
  --color-mediumvioletred: #cd256c;
  --color-dimgray: #4e4e4e;
  --color-black: #000;
  --link: #0f5f0d;
  --color-gainsboro-100: rgba(217, 217, 217, 0);

  /* Gaps */
  --gap-10xs: 3px;
  --gap-3xs: 10px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-84xl: 103px;
  --padding-xl: 20px;
  --padding-188xl: 207px;
  --padding-11xs: 2px;
  --padding-5xs: 8px;
  --padding-smi: 13px;
  --padding-7xs: 6px;
  --padding-2xs: 11px;
  --padding-3xs-5: 9.5px;
  --padding-8xs: 5px;
  --padding-mid: 17px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
}
